$wrapper-width: 100%;
$div-width: 70%/6;

@mixin flex-class {
    display: flex;
    justify-content: center;
    // align-items: center;
}

.normal_text{
    @apply text-12px;
}
.bold_text{
    @apply text-14px font-medium;
}

.top_header_wrapper {
    width: $wrapper-width;
    @include flex-class();
    @apply text-white ;
    background-color: #131921;

    .top_header_box {
        width: $div-width;
        @include flex-class();
        @apply p-3 flex-col;

    }
    .top_header_box3{
        width: 30%;
        @include flex-class();
        @apply p-3 flex-col;
    }
}