@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "AmazonEmber-normal", "AmazonEmber-bold", "AmazonEmber-medium",
      system-ui, sans-serif;
  }
}
@font-face {
  font-family: "AmazonEmber-normal";
  src: url("../public/fonts/Amazon\ Ember\ Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AmazonEmber-bold";
  src: url("../public/fonts/Amazon\ Ember\ Mono\ Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AmazonEmber-medium";
  src: url("../public/fonts/Amazon\ Ember\ Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
